<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Booth Statistics</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="presentPopover()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <h2 class="detail-heading-label">Basic Details</h2>
      </ion-text>
      <ion-item-divider>
        <ion-label class="detail-label">District : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.districtName}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Local Body : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.localBodyName}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Ward : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.wardName}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Polling Station Name : &nbsp;</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <div #pollingStationNameDiv>
          <ion-label class="detail-result-label">{{status.pollingStationName}}</ion-label>
        </div>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Total Votes : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.totalVotes}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Death Votes : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.deathVotes}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Out of Station Votes : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.outOfStationVotes}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Out of Ward Votes : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.outOfWardVotes}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Expected Poll : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.expectedPoll}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Total Polled : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.totalPolled}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Panchayat Candidates Count : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.panchayatCandidates}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">Block Panchayat Candidates Count : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.blockPanchayatCandidates}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label class="detail-label">District Panchayat Candidates Count : &nbsp;</ion-label>
        <ion-label class="detail-result-label">{{status.districtPanchayatCandidates}}</ion-label>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2>Panchayat Election</h2>
      </ion-text>
      <ion-text color="warning">
        <h5>Pre Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{panchayantPrePollResultMsg}}</ion-label>
      <div id="panchayatPrePollChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2>Panchayat Election</h2>
      </ion-text>
      <ion-text color="success">
        <h5>Exit Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{panchayantExitPollResultMsg}}</ion-label>
      <div id="panchayatExitPollChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2> Block Panchayat Election</h2>
      </ion-text>
      <ion-text color="warning">
        <h5>Pre Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{blockPanchayantPrePollResultMsg}}</ion-label>
      <div id="blockPanchayatPrePollChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2> Block Panchayat Election</h2>
      </ion-text>
      <ion-text color="success">
        <h5>Exit Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{blockPanchayantExitPollResultMsg}}</ion-label>
      <div id="blockPanchayatExitPollChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2> District Panchayat Election</h2>
      </ion-text>
      <ion-text color="warning">
        <h5>Pre Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{districtPanchayantPrePollResultMsg}}</ion-label>
      <div id="districtPanchayatPrePollChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <h2> District Panchayat Election</h2>
      </ion-text>
      <ion-text color="success">
        <h5>Exit Poll Result</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">{{districtPanchayantExitPollResultMsg}}</ion-label>
      <div id="districtPanchayatExitiPollChart"></div>
    </ion-card-content>
  </ion-card>
</ion-content>