<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>{{toolbarTitle}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToCandidatePage()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="upateCandidate()" *ngIf="!readOnlyMode" color="dark">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
      <ion-button shape="round" (click)="editCandidate()" *ngIf="readOnlyMode" color="dark">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-label class="label-class" position="floating">Candidate Name</ion-label>
    <ion-input type="text" required [(ngModel)]="candidate.candidateName" [readonly]="readOnlyMode"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-label class="label-class" position="floating">Party Code</ion-label>
    <ion-input placeholder="Eg: NDA" type="text" required [(ngModel)]="candidate.partyCode" [readonly]="readOnlyMode">
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom" [disabled]="readOnlyMode">
    <ion-label class="label-class" position="floating">Candidate Color</ion-label>
    <ion-select [interfaceOptions]="customInterfaceOptions" interface="action-sheet" required
      [(ngModel)]="candidate.candidateColor">
      <ion-select-option value="#FF9200" class="orange-option">Orange</ion-select-option>
      <ion-select-option value="#3498DB" class="blue-option">Blue</ion-select-option>
      <ion-select-option value="#C70039" class="red-option">Red</ion-select-option>
      <ion-select-option value="#BABCBD" class="dark-option">Dark</ion-select-option>

      <ion-select-option value="#37F046" class="green-option">Green</ion-select-option>
      <ion-select-option value="#FFF700" class="yellow-option">Yellow</ion-select-option>
      <ion-select-option value="#0DF6E6 " class="cyan-option">Cyan</ion-select-option>
      <ion-select-option value="#AD0DF6" class="violet-option">Violet</ion-select-option>
      <ion-select-option value="#F1948A" class="brick-option">Brick</ion-select-option>

    </ion-select>
  </ion-item>

</ion-content>