.login-card {
    background: #0073b1;
}
.vertical-align-content > * {
    transform: translateY(-50%);
    top: 50%;
}
.label-class {
    font-weight: bold;
    color: rgba($color: #3498db, $alpha: 1);
}
.my-custom-class {
    --background: #e5e5e5;
}
