<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Access Manager</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToDashboard()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="vertical-align-content">
  <ion-card class="login-card">
    <ion-item class="ion-margin-top ion-margin-bottom" lines="none">
      <ion-label class="label-class" position="floating">Access Type</ion-label>
      <ion-select interface="action-sheet" class="custom-options" required [(ngModel)]="accessType"
        (ionChange)="accessTypeComboOnChange($event)">
        <ion-select-option value="Booth">Booth [Read/Write access for all booths in a ward]</ion-select-option>
        <ion-select-option value="Ward">Ward [Read access for all wards in a local body]</ion-select-option>
        <ion-select-option value="LocalBody">Local Body [Read access for all local bodies in a distict]
        </ion-select-option>
        <ion-select-option value="Full">Full [Read/Write access for all]</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom" *ngIf="hasBoothAccess||hasLocalBodyAccess||hasWardAccess"
      lines="none">
      <ion-label class="label-class">District</ion-label>
      <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="districtCode"
        (ionChange)="districtComboOnChange($event)" required>
        <ion-select-option *ngFor="let district of districtList" [value]="district.code">
          {{district.name | uppercase}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom" *ngIf="hasBoothAccess||hasWardAccess" lines="none">
      <ion-label class="label-class">Local Body</ion-label>
      <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="localBodyCode"
        (ionChange)="localBodyComboOnChange($event)" required>
        <ion-select-option *ngFor="let localBody of localBodyList" [value]="localBody.code">
          {{localBody.name | uppercase}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom" *ngIf="hasBoothAccess" lines="none">
      <ion-label class="label-class">Ward</ion-label>
      <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="wardCode" required>
        <ion-select-option *ngFor="let ward of wardList" [value]="ward.code">{{ward.name | uppercase}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="dark" class="ion-margin-top ion-margin-bottom" expand="full" size="medium"
      (click)="goToAppUser()">
      <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>