<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>{{toolbarTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goToStatusPage()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let candidate of candidateList; let i = index" class="ion-margin-top ion-margin-bottom"
      (click)="openCandidateDetailPage(candidate)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div [style.background-color]="candidate.candidateColor">
              {{i+1}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              [{{candidate.partyCode}}]
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{candidate.candidateName}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>