<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [class]="backTabClass" (click)="goToDashboard()">
      <ion-icon name="arrow-back-circle"></ion-icon>
      <ion-label>Back To Home</ion-label>
    </ion-tab-button>
    <ion-tab-button [class]="searchTabClass" (click)="goToSearchPage()">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search Voter</ion-label>
    </ion-tab-button>
    <ion-tab-button [class]="statusTabClass" (click)="goToStatusPage()">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Booth Status</ion-label>
    </ion-tab-button>
    <ion-tab-button [class]="filterTabClass" (click)="goToFilterPage()">
      <ion-icon name="filter"></ion-icon>
      <ion-label>Filter Voter</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>